/* App container */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  position: relative;
  background-image: url('../Images/bg/Clouds1.jpg');
  background-size: cover;
  background-position: center;
  
}

/* Header styles */
.header {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: #111;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Navigation styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}



/* Main content styles */
.main-content {
  flex: 1;
  background-color: #f9f9f9;
  padding: 40px;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content {
  flex: 1;
  padding: 40px;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.9; /* Adjust the opacity value as needed */
}


/* Footer styles */
.footer {
  background-color: #111;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer p {
  font-size: 14px;
}
